In [1]:
import pandas as pd
rawdata = pd.read_excel('./时序数据集10g_3.xlsx')
rawdata

,时间戳,1号舵机,2号舵机,3号舵机,4号舵机,X,Y,Z,负载
0,1693207477303,2003,1870,2170,2052,95.633377,100.861282,399.706055,10
1,1693207477402,1994,1866,2170,2062,94.762863,99.848640,399.830139,10
2,1693207477502,1983,1862,2170,2072,90.753143,95.100525,400.080658,10
3,1693207477603,1973,1858,2170,2082,86.134407,88.276474,400.020599,10
4,1693207477702,1963,1854,2170,2092,81.485260,80.654297,399.635773,10
...,...,...,...,...,...,...,...,...,...
51489,1693222130910,2022,1879,2170,2059,88.539680,106.831177,398.654358,10
51490,1693222131010,2011,1875,2170,2059,88.600815,101.826241,399.158173,10
51491,1693222131110,2002,1871,2170,2060,88.856209,96.868546,399.538696,10
51492,1693222131210,1991,1871,2170,2060,89.497528,91.901711,399.769196,10
51493,1693222131310,1982,1871,2170,2060,90.181236,86.978264,399.895050,10

In [2]:
# 指定要合并的行数n
n = 5  # 以3行为例，您可以根据需要进行调整

# 创建新的DataFrame来存储重构后的数据
new_data = {
    '时间戳': [],
    '1号舵机': [],
    '2号舵机': [],
    '3号舵机': [],
    '4号舵机': [],
    'X': [],
    'Y': [],
    'Z': [],
    '负载': []
}

# 添加额外的n列来存储下n行的X、Y、Z值
for i in range(1, n + 1):
    new_data[f'{i}X'] = []
    new_data[f'{i}Y'] = []
    new_data[f'{i}Z'] = []

# 遍历数据，将每一行与下n行的X、Y、Z值组合成新的数据
for i in range(len(rawdata) - n):
    row1 = rawdata.iloc[i]
    new_data['时间戳'].append(row1['时间戳'])
    new_data['1号舵机'].append(row1['1号舵机'])
    new_data['2号舵机'].append(row1['2号舵机'])
    new_data['3号舵机'].append(row1['3号舵机'])
    new_data['4号舵机'].append(row1['4号舵机'])
    new_data['X'].append(row1['X'])
    new_data['Y'].append(row1['Y'])
    new_data['Z'].append(row1['Z'])
    new_data['负载'].append(row1['负载'])
    
    # 遍历下n行数据并合并X、Y、Z值
    for j in range(1, n + 1):
        row_next = rawdata.iloc[i + j]
        new_data[f'{j}X'].append(row_next['X'])
        new_data[f'{j}Y'].append(row_next['X'])
        new_data[f'{j}Z'].append(row_next['X'])

# 创建新的DataFrame
rawdata = pd.DataFrame(new_data)

# 打印新的DataFrame
rawdata

,时间戳,1号舵机,2号舵机,3号舵机,4号舵机,X,Y,Z,负载,1X,...,2Z,3X,3Y,3Z,4X,4Y,4Z,5X,5Y,5Z
0,1.693207e+12,2003.0,1870.0,2170.0,2052.0,95.633377,100.861282,399.706055,10.0,94.762863,...,90.753143,86.134407,86.134407,86.134407,81.485260,81.485260,81.485260,77.541542,77.541542,77.541542
1,1.693207e+12,1994.0,1866.0,2170.0,2062.0,94.762863,99.848640,399.830139,10.0,90.753143,...,86.134407,81.485260,81.485260,81.485260,77.541542,77.541542,77.541542,74.162483,74.162483,74.162483
2,1.693207e+12,1983.0,1862.0,2170.0,2072.0,90.753143,95.100525,400.080658,10.0,86.134407,...,81.485260,77.541542,77.541542,77.541542,74.162483,74.162483,74.162483,70.587074,70.587074,70.587074
3,1.693207e+12,1973.0,1858.0,2170.0,2082.0,86.134407,88.276474,400.020599,10.0,81.485260,...,77.541542,74.162483,74.162483,74.162483,70.587074,70.587074,70.587074,66.421532,66.421532,66.421532
4,1.693207e+12,1963.0,1854.0,2170.0,2092.0,81.485260,80.654297,399.635773,10.0,77.541542,...,74.162483,70.587074,70.587074,70.587074,66.421532,66.421532,66.421532,61.833702,61.833702,61.833702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51484,1.693222e+12,2072.0,1899.0,2170.0,2059.0,83.671165,132.555832,394.355530,10.0,83.909859,...,85.222404,86.878784,86.878784,86.878784,88.134979,88.134979,88.134979,88.539680,88.539680,88.539680
51485,1.693222e+12,2062.0,1895.0,2170.0,2059.0,83.909859,127.500717,395.439453,10.0,85.222404,...,86.878784,88.134979,88.134979,88.134979,88.539680,88.539680,88.539680,88.600815,88.600815,88.600815
51486,1.693222e+12,2052.0,1891.0,2170.0,2059.0,85.222404,122.531517,396.442200,10.0,86.878784,...,88.134979,88.539680,88.539680,88.539680,88.600815,88.600815,88.600815,88.856209,88.856209,88.856209
51487,1.693222e+12,2042.0,1887.0,2170.0,2059.0,86.878784,117.278496,397.350433,10.0,88.134979,...,88.539680,88.600815,88.600815,88.600815,88.856209,88.856209,88.856209,89.497528,89.497528,89.497528
51488,1.693222e+12,2032.0,1882.0,2170.0,2059.0,88.134979,112.100563,398.056793,10.0,88.539680,...,88.600815,88.856209,88.856209,88.856209,89.497528,89.497528,89.497528,90.181236,90.181236,90.181236

In [3]:
from datetime import datetime, timedelta


# 定义起始时间和时间间隔
start_date = datetime(2000, 1, 1)
time_interval = timedelta(minutes=10)

# 生成时间列
timestamps = [start_date + i * time_interval for i in range(len(rawdata))]
rawdata['时间戳'] = timestamps
rawdata = rawdata.dropna()
rawdata.rename(columns={'时间戳': 'date'}, inplace=True)
rawdata

/tmp/ipykernel_3724284/1792563297.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rawdata.rename(columns={'时间戳': 'date'}, inplace=True)

,date,1号舵机,2号舵机,3号舵机,4号舵机,X,Y,Z,负载,1X,...,2Z,3X,3Y,3Z,4X,4Y,4Z,5X,5Y,5Z
0,2000-01-01 00:00:00,2003.0,1870.0,2170.0,2052.0,95.633377,100.861282,399.706055,10.0,94.762863,...,90.753143,86.134407,86.134407,86.134407,81.485260,81.485260,81.485260,77.541542,77.541542,77.541542
1,2000-01-01 00:10:00,1994.0,1866.0,2170.0,2062.0,94.762863,99.848640,399.830139,10.0,90.753143,...,86.134407,81.485260,81.485260,81.485260,77.541542,77.541542,77.541542,74.162483,74.162483,74.162483
2,2000-01-01 00:20:00,1983.0,1862.0,2170.0,2072.0,90.753143,95.100525,400.080658,10.0,86.134407,...,81.485260,77.541542,77.541542,77.541542,74.162483,74.162483,74.162483,70.587074,70.587074,70.587074
3,2000-01-01 00:30:00,1973.0,1858.0,2170.0,2082.0,86.134407,88.276474,400.020599,10.0,81.485260,...,77.541542,74.162483,74.162483,74.162483,70.587074,70.587074,70.587074,66.421532,66.421532,66.421532
4,2000-01-01 00:40:00,1963.0,1854.0,2170.0,2092.0,81.485260,80.654297,399.635773,10.0,77.541542,...,74.162483,70.587074,70.587074,70.587074,66.421532,66.421532,66.421532,61.833702,61.833702,61.833702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51484,2000-12-23 12:40:00,2072.0,1899.0,2170.0,2059.0,83.671165,132.555832,394.355530,10.0,83.909859,...,85.222404,86.878784,86.878784,86.878784,88.134979,88.134979,88.134979,88.539680,88.539680,88.539680
51485,2000-12-23 12:50:00,2062.0,1895.0,2170.0,2059.0,83.909859,127.500717,395.439453,10.0,85.222404,...,86.878784,88.134979,88.134979,88.134979,88.539680,88.539680,88.539680,88.600815,88.600815,88.600815
51486,2000-12-23 13:00:00,2052.0,1891.0,2170.0,2059.0,85.222404,122.531517,396.442200,10.0,86.878784,...,88.134979,88.539680,88.539680,88.539680,88.600815,88.600815,88.600815,88.856209,88.856209,88.856209
51487,2000-12-23 13:10:00,2042.0,1887.0,2170.0,2059.0,86.878784,117.278496,397.350433,10.0,88.134979,...,88.539680,88.600815,88.600815,88.600815,88.856209,88.856209,88.856209,89.497528,89.497528,89.497528
51488,2000-12-23 13:20:00,2032.0,1882.0,2170.0,2059.0,88.134979,112.100563,398.056793,10.0,88.539680,...,88.600815,88.856209,88.856209,88.856209,89.497528,89.497528,89.497528,90.181236,90.181236,90.181236

In [4]:
rawdata.to_csv('../dataset/dataset4.csv',index=False,encoding='utf_8_sig')